<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar Amigo"></ion-searchbar>

  <ion-list>
    <ion-item lines="full" *ngFor="let animal of listaAmigos">
      <ion-thumbnail slot="start">
        <img [src]="animal.aparencia"/>
      </ion-thumbnail>
    
      <ion-label class="ion-text-wrap">
        <div>
          <h1>{{animal.nome}}</h1>
          <p>{{animal.raca}}, {{animal.sexo}}</p>
          <p>{{animal.idade}}</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
